/*================================================
                    Globals
==================================================*/

//theme colors
$e2m-blue:#008cd7;
$e2m-green:#80d601;
$e2m-orange:#ff7f00;
$e2m-black:#000000;
//alterate-colors
$e2m-white:#fff;

/*================================================
                    Variables
==================================================*/

$heading-font-size:50px;
$transition0_5: all 0.5s ease;

/*================================================
                Global Declrations
==================================================*/

a {
    text-decoration: none;
    transition: all .5s ease;
}